@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --main-bg-color: linear-gradient(90deg,
      hsl(236, 72%, 79%) 50%,
      hsl(237, 63%, 64%) 100%);
  --gray-blue-100: hsl(240, 78%, 98%);
  --gray-blue-200: rgb(19, 19, 29);
  --gray-blue-300: hsl(233, 13%, 49%);
  --gray-blue-400: hsl(232, 13%, 33%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: var(--gray-blue-100);
}

.bg-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.bg-top {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.pricing-header-container {
  display: grid;
  place-items: center;
  margin-top: 4%;
}

.pricing-header-title {
  font-size: 38px;
  font-weight: 900;
  color: var(--gray-blue-400);
  margin-bottom: 60px;
}

.pricing-header-content {
  color: var(--gray-blue-200);
}

.pricing-header-btn-bg {
  display: inline-grid;
  grid-template-rows: 10% 10%;
  height: 31px;
  width: 50px;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  border-radius: 10rem;
  background: var(--main-bg-color);
}

.pricing-header-btn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--gray-blue-100);
  border: none;
  grid-column-start: col-start 4;
  cursor: pointer;
  transition: ease-in 300ms;
  margin-top: 3px;
}

.pricing-header-btn:active {
  margin-right: 20px;
}

button:focus {
  outline: 0;
}